<sebm-google-map
  class="map"
  [latitude]="mapControl.center.lat" [longitude]="mapControl.center.lng"
  [zoom]="mapControl.zoom"
  [mapDraggable]="true"
>

  <!-- Sections -->
  <ng-container *ngFor="let section of sections | async">
    <ng-container *ngIf="section.crashPrediction[hour].result > 0.4">
      <!-- Start Point -->
      <sebm-google-map-circle
        [fillColor]="'black'"
        [fillOpacity]="'1.0'"
        [latitude]="section.sectionGeometric.startPoint.lat"
        [longitude]="section.sectionGeometric.startPoint.lng"
        [radius]="10"
        [zIndex]="1"
      ></sebm-google-map-circle>

      <sebm-google-map-polyline
        [strokeWeight]="5"
        [strokeColor]="section.crashPrediction[hour].color"
        (lineClick)="onSectionSelect(section.$key, $event)"
        (lineRightClick)="onSectionRightClick(section.$key, $event)"
        [zIndex]="1">
        <sebm-google-map-polyline-point *ngFor="let point of section.sectionGeometric.path"
                                        [latitude]="point.lat"
                                        [longitude]="point.lng"></sebm-google-map-polyline-point>

      </sebm-google-map-polyline>
    </ng-container>
  </ng-container>
  <!-- /sections -->

</sebm-google-map>
