<div class="panel-detail-container">

  <!-- Section Title -->
  <div class="section-title">
    <div class="section-title-inner">

      <div class="section-title-icon">
        <img class="icon-img" src="./assets/images/{{sectionOngoing.icon}}.png">
        <div [ngStyle]="{'color': sectionOngoing.numberColor}" class="icon-img-road-number">
          {{sectionOngoing.number}}
        </div>
      </div>

      <div class="section-title-content">
        {{sectionOngoing.title}}
        <span class="section-title-content-style1">
          {{sectionOngoing.subtitle}}
        </span>
      </div>
    </div>
  </div>

  <!-- Section action -->
  <div class="section-action">
    <div (click)="onActionClick()" class="action-button">
      Take Action
    </div>
  </div>
  <hr class="section-divider">
  <!-- /Section action -->

  <!-- Section body -->
  <div class="section-body">

    <!-- Risk -->
    <div class="subsection subsection-risk">

      <div class="subsection-icon">
        <img class="subsection-icon-image" src="./assets/images/icon-section-risk-{{sectionOngoing.riskLevel}}.png">
      </div>
      <div class="subsection-content subsection-risk-content">
        Risk Level: <span>{{sectionOngoing.riskLevel}}</span><br>
        Expected: <span>Now</span><br>
        Nearby Incidents: <span>0</span>
      </div>
    </div>

    <!-- Behavior -->
    <div class="subsection subsection-behavior">

      <div class="subsection-icon">
        <img class="subsection-icon-image" src="./assets/images/icon-section-traffic.png">
      </div>
      <div class="subsection-content subsection-risk-content">
        Commute: <span>{{sectionOngoing.commute}}</span><br>
        Speed: <span>{{sectionOngoing.speed}}</span><br>
        Hard Breaks: <span>{{sectionOngoing.hardBreaks}}</span>
      </div>
    </div>

    <!-- Weather -->
    <div class="subsection subsection-weather">

      <div class="subsection-icon">
        <img class="subsection-icon-image" src="./assets/images/icon-section-weather.png">
      </div>
      <div class="subsection-content subsection-risk-content">
        Precipitation: <span>{{sectionOngoing.precipitation}}</span><br>
        Visibility: <span>{{sectionOngoing.visibility}}</span><br>
        Wind: <span>{{sectionOngoing.wind}}</span>
      </div>

    </div>

  </div>

  <!-- section divider -->
  <hr class="section-divider">

  <!-- Incidents Section -->
  <div class="section-incidents">
    <div class="incidents-title">
      Incidents:
    </div>

    <div *ngFor="let incident of sectionOngoing.incidents">
      <app-incident-card [incidentPtr]="incident.ptr"></app-incident-card>
    </div>

  </div>


</div>
