$card-width: 280px;

$icon-width: 40px;
$icon-height: 60px;

.incident-card-container {

  width: $card-width;
  display: flex;
  flex-direction: row;
  margin: 10px;

}


.content {
  width: 220px;
  display: flex;
  flex-direction: column;
}

.content-title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #2a2c2e;
  font-weight: bold;
}

.content-description {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #2a2c2e;

}

.content-action {
  font-family: Roboto;
  font-size: 14px;
  text-align: left;
  font-weight: normal;
  line-height: 1.79;
  color: #e40006;
}

.alert-icon-img {
  width: 55px;
  height: 53px;
  object-fit: contain;
}

.icon-img-circle {
  width: $icon-width;
  height: $icon-height;
  margin-right: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#circle {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-overlay {
  width:80%;
}
