<div class="panel-detail-container">

  <!-- Section Title -->
  <div class="section-title">
    <div class="section-title-inner">

      <div class="section-title-icon">
        <img class="icon-img" src="./assets/images/{{sectionRiskAlert.icon}}.png">
        <div [ngStyle]="{'color': sectionRiskAlert.numberColor}" class="icon-img-road-number">
          {{sectionRiskAlert.number}}
        </div>
      </div>

      <div class="section-title-content">
        {{sectionRiskAlert.title}}
        <span class="section-title-content-style1">
          {{sectionRiskAlert.subtitle}}
        </span>
      </div>
    </div>
  </div>

  <!-- Section action -->
  <div class="section-action">
    <div (click)="onActionClick()" class="action-button">
      Take Action
    </div>
  </div>
  <div [@toggleActionPanel]="state" class="section-action-overlay">

    <div class="action-item deploy-police" (click)="onActionSelect(0)">
      <span class="action-item-icon">
        <img src="./assets/images/icon-plan-prevent-police-{{policeState}}.png" alt="">
      </span>
      <span class="action-item-title">Deploy Patrol Until 4pm</span>
    </div>

    <div class="action-item deploy-warning" (click)="onActionSelect(1)">
      <span class="action-item-icon">
        <img src="./assets/images/icon-plan-prevent-sign-{{warningState}}.png" alt="">
      </span>
      <span class="action-item-title">Deploy Warning Signs</span>
    </div>

    <div class="action-item dismiss" (click)="onActionSelect(2)">
      <span class="action-item-icon">
        <i class="fa fa-times-circle fa-2x" style="color: #bf1906" aria-hidden="true"></i>
      </span>
      <span class="action-item-title">Dismiss</span>
    </div>

  </div>
  <hr class="section-divider">
  <!-- /Section action -->

  <!-- Section body -->
  <div class="section-body">

    <!-- Risk -->
    <div class="subsection subsection-risk">

      <div class="subsection-icon">
        <img class="subsection-icon-image" src="./assets/images/icon-section-risk-{{sectionRiskAlert.riskLevel}}.png">
      </div>
      <div class="subsection-content subsection-risk-content">
        Risk Level: <span>{{sectionRiskAlert.riskLevel}}</span><br>
        Expected: <span>Now</span><br>
        Nearby Incidents: <span>0</span>
      </div>
    </div>

    <!-- Behavior -->
    <div class="subsection subsection-behavior">

      <div class="subsection-icon">
        <img class="subsection-icon-image" src="./assets/images/icon-section-traffic.png">
      </div>
      <div class="subsection-content subsection-risk-content">
        Commute: <span>{{sectionRiskAlert.commute}}</span><br>
        Speed: <span>{{sectionRiskAlert.speed}}</span><br>
        Hard Breaks: <span>{{sectionRiskAlert.hardBreaks}}</span>
      </div>
    </div>

    <!-- Weather -->
    <div class="subsection subsection-weather">

      <div class="subsection-icon">
        <img class="subsection-icon-image" src="./assets/images/icon-section-weather.png">
      </div>
      <div class="subsection-content subsection-risk-content">
        Precipitation: <span>{{sectionRiskAlert.precipitation}}</span><br>
        Visibility: <span>{{sectionRiskAlert.visibility}}</span><br>
        Wind: <span>{{sectionRiskAlert.wind}}</span>
      </div>

    </div>

  </div>

  <!-- section divider -->
  <hr class="section-divider">

  <!-- Incidents Section -->
  <div class="section-incidents">

    <div class="incidents-title">
      Incidents:
    </div>

    <div class="section-incidents-list">
      <div *ngFor="let incident of sectionRiskAlert.incidents">
        <app-incident-card [incidentPtr]="incident.ptr"></app-incident-card>
      </div>
    </div>

  </div>

</div>
